branches:
  only:
    - master

skip_tags: true
clone_depth: 1

image: Visual Studio 2015

install:
  - ps: Install-Product node 5

environment:
  global:
    MIKTEX_HOME: '%PROGRAMFILES%\MiKTeX 2.9'
    R_HOME: '%PROGRAMFILES%\R'
    R_LIBS_USER: '%USERPROFILE%\R\library'
    APM_TEST_PACKAGES: "language-latex pdf-view"
  matrix:
    - ATOM_CHANNEL: stable
    - ATOM_CHANNEL: beta
    - TEX_DIST: miktex
      ATOM_CHANNEL: stable
    - TEX_DIST: miktex
      ATOM_CHANNEL: beta

cache:
  - '%R_LIBS_USER%'

build_script:
  - sh ./script/cibuild

test: off
deploy: off
