language: node_js

branches:
  only:
    - master

git:
  depth: 1

matrix:
  include:
    - os: linux
      sudo: false
    - os: osx
      osx_image: xcode8

env:
  global:
    - R_LIBS_USER=${HOME}/R/library
    - APM_TEST_PACKAGES="language-latex pdf-view"
  matrix:
    - ATOM_CHANNEL=stable
    - ATOM_CHANNEL=beta

addons:
  apt:
    sources:
      - r-packages-precise
    packages:
      - r-recommended

cache:
  directories:
    - ${R_LIBS_USER}

script: ./script/cibuild

notifications:
  email:
    on_success: never
    on_failure: change
