'atom-text-editor':
  'ctrl-alt-b': 'latex:build'
  'ctrl-alt-s': 'latex:sync'
  'ctrl-alt-w': 'latex:wrap'
  'cmd-shift-c': 'latex:wrap-in-command'
  'cmd-shift-e': 'latex:wrap-in-emph'
  'cmd-shift-b': 'latex:wrap-in-bold'
  'cmd-shift-u': 'latex:wrap-in-underline'
  'cmd-shift-t': 'latex:wrap-in-texttt'
  'cmd-shift-h': 'latex:wrap-in-environment'
