{
  "globals": {
    "atom": true,
    "jasmine": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "spyOn": true,
    "waitsForPromise": true,
    "runs": true,
  }
}
