{
  "env": {
    "jasmine": true
  },
  "globals": {
    "waitsForPromise": true
  },
  "rules": {
    "max-len": [2, {
      "code": 80,
      "ignoreTrailingComments": true,
      "ignorePattern": "^\\s*describe|it\\("
    }]
  }
}
