@import "ui-variables";

status-bar{
  .latex-progress-indicator {
    color: @text-color-info;

    .dot {
      opacity: 0;
      -webkit-animation: dot 1.0s infinite;

      &.one {
        -webkit-animation-delay: 0.0s;
      }

      &.two {
        -webkit-animation-delay: 0.2s;
      }

      &.three {
        -webkit-animation-delay: 0.3s;
      }
    }
  }

  .latex-error-indicator {
    &, a, a:hover {
      color: @text-color-error;
    }
  }
}

@-webkit-keyframes dot {
  0% { opacity: 0; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

.latex-info {
  border-left: 2px solid @background-color-info;
  padding-left: ~"calc(0.5em - 2px)";
}

.latex-warning {
  border-left: 2px solid @background-color-warning;
  padding-left: ~"calc(0.5em - 2px)";
}

.latex-error {
  border-left: 2px solid @background-color-error;
  padding-left: ~"calc(0.5em - 2px)";
}

.latex-source-ref {
  color: @text-color-subtle;
  cursor: pointer;
}

.latex-log-ref {
  color: @text-color-subtle;
  cursor: pointer;
  font-style: italic;
}
