@import "ui-variables";

status-bar {
  .latex-status {
    &.latex-highlight {
      color: @text-color-highlight;
    }

    &.latex-info {
      color: @text-color-info;
    }

    &.latex-warning {
      color: @text-color-warning;
    }

    &.latex-error {
      color: @text-color-error;
    }

    &.latex-status-link {
      cursor: pointer;
    }
  }

  .icon {
    text-align: center;
    display: inline-block;
  }

  .latex-spin {
    -webkit-animation: spin 2s infinite linear;
  }
}

.latex-log {
  .panel-body {
    margin-top: 5px;
    overflow-y: scroll;
  }

  .panel-resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    cursor: row-resize;
    z-index: 3
  }

  .latex-info {
    border-left: 2px solid @background-color-info;
    padding-left: ~"calc(0.5em - 2px)";
  }

  .latex-warning {
    border-left: 2px solid @background-color-warning;
    padding-left: ~"calc(0.5em - 2px)";
  }

  .latex-error {
    border-left: 2px solid @background-color-error;
    padding-left: ~"calc(0.5em - 2px)";
  }

  .latex-source-reference, .latex-log-reference {
    color: @text-color-subtle;
  }

  .latex-source-reference {
    &::before {
      content: ' ';
    }

    .latex-file-link::before {
      content: 'at '
    }
  }

  .latex-line-number::before {
    content: ' at line ';
  }

  .latex-end-line-number::before {
    content: '\2013';
  }

  .latex-log-reference {
    &::before {
      content: ' [';
    }
    &::after {
      content: ']';
    }

    .latex-file-link::before {
      content: 'from '
    }
  }

  .latex-file-link {
    cursor: pointer;
  }

  .latex-file-link:hover {
    text-decoration: underline;
  }

  .latex-highlight {
    color: @text-color-highlight;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
